.App{
  width:100%;
  margin:20px auto;
}

.clogo{
  width:80%;
  /*background-color: green;*/
  float:left;
  height:100px;
}
.cdropdown{
  width:20%;
  /*background-color: yellow;*/
  float:right;
  height:100px;
}

.dropdown {
  background-color: none;
}

.dropdownpic{
  width:25%;
  padding-top:20px;
  margin-left: 60px;
}

.logopic{
  width:25%;
  margin-left:100px;
}

.dropdown-menu{
  margin-top: 40px;
  margin-left: 60px;
}
